header{
    .container{
        display: flex;
        justify-content:space-between;
        max-width:  1300px;
        width: 100%;
        margin: 0 auto;
        padding: 33px;
        .logo{
            width: 33px;
            height: 42px;
        }
        nav{
            ul{
                display: flex;
                justify-content: space-between;
                a{
                    color: #636060;
                    font-size: 17px;
                    font-family: Helvetica;
                    margin-right: 50px;
                }
            }
        }
        .fa-bars{
            display: none;
            
        }
        @media (max-width: 1150px){
            .fa-bars{
                display: inline-block;
            }
            nav{
                display: none;
            }
        }
    }
}
